/*
 * Global
 */

body {
    margin: 0px;
    background: #dfd8d0;
}

.message-error {
    border: 2px solid #f88;
    background: #fee;
    padding: 10px;
    color: #c66;
}

.message-info {
    border: 1px solid #88f;
    background: #eef;
    padding: 10px;
    color: #66c;
}

a {
    color: #620;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

/*
 * Navbar
 */

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    background: #432;
    color: white;
    padding: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.navbar .logo {
    display: inline-block;
    margin: 0px;
    width: 240px;
    height: 40px;
    vertical-align: top;
}

.navbar .nav-map {
}

/*
 * Form
 */
.form {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}

.form button {
    padding: 7px 10px;
    background: #f64;
    border: 0px;
    font-size: 105%;
    color: white;
    cursor: pointer;
}

.form button:hover {
    background: #ee5533;
}

.form #search-input {
    padding: 4px;
    margin-right: 4px;
    border: 1px solid #ccc;
    font-size: 120%;
    width: 300px;
    transition: box-shadow 0.2s;
}

.form #search-input:focus {
    box-shadow: 0px 0px 6px white;
}

@media (max-width: 640px) {
    .form #search-input {
        width: 200px;
    }
}

/*
 * Targets
 */

.layout-targets {
    margin-top: 5px;
}

#targets-header {
    padding: 5px;
    cursor: pointer;
}

.layout-targets #targets {
    font-size: 90%;
    max-width: 600px;
    margin-top: 5px;
}

.target {
    position: relative;
    float: left;
    width: 120px;
    padding: 5px 0px;
    cursor: pointer;
}

.target.disabled {
    color: gray;
}

.target.checked {
    background: #654;
}

.target .external-link {
    position: absolute;
    right: 5px;
    top: 10px;
    display: none;
    color: white;
    font-size: 70%;
}

.target:hover .external-link {
    display: inline;
}

#targets.hidden {
    display: none;
}

#targets-min {
    display: inline-block;
    font-size: 80%;
}

#targets-min .target-min {
    float: left;
    padding: 0px 10px;

}

@media (max-width: 640px) {
    .target {
        width: 100px;
        padding: 8px 0px;
    }

}

/*
 * Results
 */

.layout-results {
    padding-top: 80px;
}

.result {
    padding: 10px;
    margin: 40px 30px;
    background: white;
    white-space: nowrap;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 640px) {
    .result {
        margin: 0px;
    }

    .result {
        padding: 0px;
    }
}

.result .target-name {
    display: inline-block;
    position: relative;
    left: -20px;
    width: 180px;
    padding: 10px;
    background: #432;
    color: white;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    font-size: 130%;
}

.result .books {
    padding: 0px;
}

.result .books::after {
    content: "";
    display: block;
    clear: both;
}

.result .loading-icon {
    text-align: center;
    color: #666;
}

.result .book {
}

.result .book:hover {
    background: #efe8e0;
}

.result .search-url {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0px 0px 10px;
    background: #432;
    color: white;
}

.book-type,
.book-title,
.book-author,
.book-publisher,
.book-published-at,
.book-available {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 5px;
    font-size: 85%;
}

.book-title {
    font-size: 100%;
    width: 450px;
}

.book-author {
    width: 160px;
}

.book-publisher {
    width: 150px;
}

.book-published-at {
    width: 100px;
}

@media (max-width: 1000px) {
    .book-publisher,
    .book-published-at {
        display: none;
    }

    .book-title {
        width: 400px;
    }

    .book-author,
    .book-publisher {
        width: 150px;
    }
}

@media (max-width: 640px) {
    .book-publisher,
    .book-published-at,
    .book-available {
        display: none;
    }

    .result {
        white-space: normal;
    }

    .book-title {
        float: left;
    }

    .book-author {
        padding: 0px 5px 20px 15px;
    }

    .layout-results {
        padding-top: 180px;
    }

    .result .target-name {
        left: 0px;
        top: 0px;
    }
}
